<div class="main">
  <div class="avatar">
    <svg width="3.5rem" height="3.5rem">
      <circle cx="1.75rem" cy="1.75rem" r="1.75rem" fill="yellow" />
    </svg>
  </div>
  <div class="details">
    <span class="game">{{party.game}}</span>
    <span class="mission">{{party.title}}</span>
  </div>
  <div class="button">
    <div *ngIf = "!joinedParty;then joined else notJoined"></div>
    <ng-template #joined><button class="green" (click) = "joinParty()">JOIN</button></ng-template>
    <ng-template #notJoined><button class="red" (click) = "leaveParty()">LEAVE</button></ng-template>
  </div>
  <div class="numPlayers">
    <span>{{1 + party.reservedPlayers + party.members.size}}/{{party.maxPlayers}}</span>
  </div>
  <div class="arrow">
    <span (click) = "openViewer()" *ngIf="!viewParty; else notView">&#9660;</span>
    <ng-template #notView><span (click) = "openViewer()">&#9650;</span></ng-template>
  </div>
</div>
<div class="dropdown" *ngIf = "viewParty">
  <app-player [player] = "party.owner"></app-player>
  <app-player *ngFor="let res of reserved"></app-player>
  <app-player *ngFor="let mem of party.members" [player] = "mem"></app-player>
  <div *ngIf="waiting.length > 0"><app-player *ngFor="let wait of waiting" [waiting]="true"></app-player></div>
</div>
