:host {
  width: 100%;
  height: 5rem;
  background-color: #07030D;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.drop-red {
  box-shadow: 0 0 15px 0 red;
}

.drop-green {
  box-shadow: 0 0 15px 0 red;
}

.left, .right, .center {
  width: 33.33%;
  height: 100%;
}

.brand {
  margin-left: 2rem;
  font-size: 1.5rem;
  line-height: 5rem;
  font-weight: bold;
}
