<app-nav-bar [party] = "party"></app-nav-bar>
<div class="content">
  <div class="jumbo">
    <div class="recent">
      <h1>Recently Created</h1>
      <div class="parties">
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
      </div>
    </div>
    <div class="almost">
      <h1>Almost Full</h1>
      <div class="parties">
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
        <app-party [party] = "party"></app-party>
      </div>
    </div>
  </div>
</div>
